<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <script>
    var imageUrl_emptycheck = "{% static 'img/empty-check.png' %}";
    var imageUrl_close = "{% static 'img/close.png' %}";
    var imageUrl_fullcheck = "{% static 'img/full-check.png' %}";
    var imageUrl_up = "{% static 'img/up.png' %}";
    // imageUrl 변수를 JavaScript 코드에서 사용할 수 있습니다.
    </script>
  <body>
    <div class="container">
      <div class="header" id="box">
        <h2>안녕하세요! 투두리스트입니다. 당신의 할 일을 작성해보세요 😉</h2>
        <img class="arrow" src="{% static 'img/arrow.png' %}" />
        <button id="popup-btn">입력창 불러오기</button>
        <div id="input-box">
          <form  class="todo-form" action="{% url 'create' %} " method="post">
            {% csrf_token %}
            <input class="todo-input" name="content" type="text" placeholder="할 일 작성하기" />
            <input type="submit" hidden="true" />
          </form>
        </div>
      </div>
      <div class="main">
        <div class="calendar" id="box">
          <h2 class="title">2023.05.16</h2>
          <img class="calendar-img" src="{% static 'img/calendar.png' %}" />
        </div>
        <div class="list" id="box" id="todo-box">
          <div class="todo">
            <h2 class="title">What I have to do</h2>
            <ul>
              {% for todo in todos %}
                  <li>
                      <a href= "{% url 'update' todo.id %}" >
                        <img src="{% static 'img/empty-check.png' %}">
                      </a>
                      <span>{{todo.content}}</span>
                      <a href= "{% url 'delete' todo.id %}" > 
                        <img src="{% static 'img/close.png' %}">
                      </a>
                  </li>
              {% endfor %}
            </ul>
          </div>
          <div class="done" >
            <h2 class="title">What I did</h2>
            <!-- <ul class="done-list"> -->
            <ul>
              {% for done in dones %}
              <li>
                  <img src="{% static 'img/full-check.png' %}">
                  <span>{{done.content}}</span>
                  <a href= "{% url 'update' done.id %}" >
                    <img src="{% static 'img/up.png' %}">
                  </a>
                  <a href= "{% url 'delete' done.id %}" > 
                    <img src="{% static 'img/close.png' %}">
                  </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
